ApacheCMDA-Backend/.idea
ApacheCMDA-Backend/.idea_modules
ApacheCMDA-Backend/.settings
ApacheCMDA-Backend/target
ApacheCMDA-Backend/project/target
ApacheCMDA-Frontend/.idea
ApacheCMDA-Frontend/.idea_modules
ApacheCMDA-Frontend/.settings
ApacheCMDA-Frontend/target
ApacheCMDA-Frontend/project/target

**/*.class
**/*.cache
**/*.db