@(username: String, userId: String)

<link href='@routes.Assets.at("css/bootstrap.min.css")'
      rel="stylesheet"/>
<link href='@routes.Assets.at("css/header.css")'
      rel="stylesheet"/>

<script src='@routes.Assets.at("js/jquery-1.1.js")'></script>

<div id="header">
  @fixed.header(username,Long.parseLong(userId))
</div>

@main("Welcome") {
  <h1>Welcom @username!</h1>
  <h3>Your id is: <a href="/profile/@userId">@userId</a></h3>
  <p><a href="/search">SearchUser</a></p>
  <hr>
  <a href="/logout">Logout</a>
}