@(req: List[User], inbox: List[PMessage], outbox: List[PMessage], username: String, userId: String)

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link href='@routes.Assets.at("css/bootstrap.min.css")'
        rel="stylesheet"/>
        <link href='@routes.Assets.at("css/header.css")'
        rel="stylesheet"/>

        <script src='@routes.Assets.at("js/jquery-1.1.js")'></script>
    </head>
    <body>
        <div id="header">
        @fixed.header(username,Long.parseLong(userId))
        </div>


        @flashmsg()
        <h1>This is the notification center!</h1>
        <h2>Friend Requests</h2>
        @if(req.isEmpty) {
            <p>There is no pending requests!</p>
        }
        @if(!req.isEmpty) {
            <table>
                <tr><th>User</th><th>Email</th><th>Action</th></tr>
                @for( result <- req) {
                    <tr>
                        <td>@result.getUserName</td>
                        <td>@result.getEmail</td>
                        <td><a href="/friends/accept/@result.getId">Accept</a> <a href="/friends/reject/@result.getId">Reject</a></td>
                    </tr>
                }
            </table>
        }
        <h2>Inbox</h2>
        @if(!inbox.isEmpty) {
            <table>
                <tr><th>From</th><th>Title</th><th>Date</th><th>isRead</th></tr>
                @for( result <- inbox) {
                    <tr>
                        <td>@result.getFromUserMail</td>
                        <td><a href="/mail/detail/@result.getId">@result.getMailTitle</a></td>
                        <td>@result.getMailDate</td>
                        <td>@result.isReadstatus</td>
                    </tr>
                }
            </table>
        } else {
            <p>No mail!</p>
        }

        <h2>OutBox</h2>
        @if(!outbox.isEmpty) {
            <table>
                <tr><th>To</th><th>Title</th><th>Date</th><th>isRead</th></tr>
                @for( result <- outbox) {
                    <tr>
                        <td>@result.getToUserMail</td>
                        <td>@result.getMailTitle</td>
                        <td>@result.getMailDate</td>
                        <td>@result.isReadstatus</td>
                    </tr>
                }
            </table>
        } else {
            <p>No mail!</p>
        }

        <h2>Send private Mail!</h2>
        @write_message("")
    </body>
</html>




