@(user: User, follows: List[User], followees: List[User], myFriends: List[User], self_name: String, isFollower: Boolean, isFollowee: Boolean, isFriend: Boolean)

<html>
    <head>
        <link href='@routes.Assets.at("css/bootstrap.min.css")' rel="stylesheet"/>
        <link href='@routes.Assets.at("css/header.css")' rel="stylesheet"/>
        <script src='@routes.Assets.at("js/jquery-1.1.js")'></script>
        <title>Profile</title>
    </head>
    <body>
        <div id="header">
        @fixed.header(self_name, user.getId())
        </div>

        <div class="container">
            <h1>@user.getUserName()</h1>
            <p>@user.getEmail()</p>
            @if(self_name != user.getUserName) {
                @if(!isFollower) {
                    <p><a href="/follow/@user.getId">Follow</a></p>
                }
                @if(isFollower) {
                    <p><a href="/unfollow/@user.getId">Unfollow</a></p>
                }
                @if(!isFriend) {
                    <p><a href="/befriend/@user.getId">Send Friend Request</a></p>
                } else {
                    <p>We are friends.</p>
                    <p><a href="/deletefriend/@user.getId">Delete Friend</a></p>
                }
                <p><a href="/">BackHome</a></p>
            }
            <div class="row">


                <div class="col-md-4">
                    <h3>Followers</h3>
                    <table class="table">
                        <tr><th>Follower</th><th>Email</th></tr>
                        @for( follower <- follows) {
                            <tr><td>@follower.getUserName</td> <td>@follower.getEmail</td></tr>
                        }
                    </table>
                </div>
                <div class="col-md-4">
                    <h3>Followees</h3>
                    <table class="table">
                        <tr><th>Followee</th><th>Email</th></tr>
                        @for( followee <- followees) {
                            <tr><td>@followee.getUserName</td> <td>@followee.getEmail</td></tr>
                        }
                    </table>
                </div>
                @if(self_name == user.getUserName) {
                    <div class="col-md-4">
                        <h3>Friends</h3>
                        <table class="table">
                            <tr><th>Friends</th><th>Email</th></tr>
                            @for( friend <- myFriends) {
                                <tr><td>@friend.getUserName</td> <td>@friend.getEmail</td></tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </div>
    </body>
</html>





