@(category: String, results: List[User] )

@main("Search") {
  <form action="/searchResult">
    <select name="category" id="">
      <option value="user">User</option>
      <option value="workflow">Workflow</option>
    </select>
    <input type="text" name="keywd">
    <input type="submit">
  </form>
@if(results != null) {
  <p>Results Here</p>
  <table>
  @if(category.equals("user")) {
    <tr><td>User</td><td>Email</td></tr>
    @for( result <- results) {
      <tr>
        <td>@result.getUserName</td>
        <td>@result.getEmail</td>
      </tr>
    }
  }
  </table>

} else {
  <p>No Results!</p>
}

}