@(userName: String, userId: Long)

<link href='@routes.Assets.at("css/bootstrap.min.css")'
rel="stylesheet"/>
<link href='@routes.Assets.at("css/header.css")'
rel="stylesheet"/>

<script src='@routes.Assets.at("js/jquery-1.1.js")'></script>

<div id="header">
@fixed.header(userName, userId)
</div>
@main("Timeline") {
  <div>
    <h3>Welcome to timeline of your friends</h3>
    <form action="@routes.WorkflowController.createFlow()" method="POST">
      <input type="hidden" name="userID" value="@userId">
      <input type="text" name="wfTitle" placeholder="Title">
      <input type="text" name="wfCategory" placeholder="Category">
      <input type="text" name="wfCode" placeholder="Code">
      <input type="text" name="wfDesc" placeholder="Description">
      <select name="wfVisibility">
        <option>public</option>
        <option>private</option>
      </select>
      <button type="submit">Create</button>
    </form>
  </div>
}