@(wf: Workflow, comments: List[Comment], replyRes: List[List[Reply]], userName: String, userId: Long)
<html>
    <head>
        <link href='@routes.Assets.at("css/bootstrap.min.css")' rel="stylesheet"/>
        <link href='@routes.Assets.at("css/header.css")' rel="stylesheet"/>
        <link rel="stylesheet" href='@routes.Assets.at("css/forum.css")' rel="stylesheet">
        <link rel="stylesheet" href='@routes.Assets.at("css/prism.css")'>
        <script src='@routes.Assets.at("js/jquery-1.1.js")'></script>
        <script src='@routes.Assets.at("js/forum.js")'></script>
        <script src='@routes.Assets.at("js/prism.js")'></script>
    </head>
    <body>
        <div id="header">
        @fixed.header(userName, userId)
        </div>
        <div class="container">
            <h1>@wf.getWfTitle</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3>Workflow</h3>
                    <img src="/@wf.getWfImg" class="img-thumbnail main-img">
                </div>
                <div class="col-md-6">
                    <h3>Description</h3>
                    <ul class="list-group workflow-list main-list">
                        <li class="list-group-item"><span class="badge">Name</span> @wf.getUserName</li>
                        <li class="list-group-item"><span class="badge">Category</span> @wf.getWfCategory</li>
                        <li class="list-group-item"><span class="badge">Detail</span> @wf.getWfDesc</li>
                        <li class="list-group-item"><span class="badge">Code</span><br><pre><code class="language-css">@wf.getWfCode</code></pre></li>
                        @if(wf.isWfEdit) {
                            <li class="list-group-item"><span class="badge">
                                Action</span><a href="/workflow/update/@wf.getId">Edit</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <h3>Comments:</h3>
                <ul class="list-group list-view">
                @for( i <- 0 until comments.size) {
                    <li class="list-group-item list-view outer-list">
                        <h4><span class="red">&#35; @(i + 1)</span> &#64; @(comments(i).getUserName) <small class="right">@(new Date(comments(i).getTimestamp).toString)</small></h4>
                        <p>@comments(i).getContent</p>
                        <form class="form" action="@routes.WorkflowController.addReply(comments(i).getUser, comments(i).getId, wf.getId)" enctype="multipart/form-data" method="POST">
                            <a href="javascript:void(0)" class="toggle">Reply</a>
                            <div class="ninja hide-hood">
                                <input class="form-control input-sm" type="text" name="content">
                                <button class="btn-xs btn-primary mt-btn" type="submit">Submit</button>
                            </div>

                        </form>
                        <ul class="list-group list-view">
                        @for( j <- 0 until replyRes.get(i).size) {
                            <li class="list-group-item list-view">
                                <h5>@(replyRes.get(i).get(j).getFromUserName)<span class="shy"> &rarr; @(replyRes.get(i).get(j).getToUserName)</span>
                                <small class="right">@(new Date(replyRes.get(i).get(j).getTimestamp).toString)</small>
                                </h5>
                                <p>@("\t" + replyRes.get(i).get(j).getContent)</p>

                                <form class="form" action="@routes.WorkflowController.addReply(replyRes.get(i).get(j).getFromUserId, comments(i).getId, wf.getId)" enctype="multipart/form-data" method="POST">
                                    <a href="javascript:void(0)" class="toggle">Reply</a>
                                    <div class="ninja hide-hood">
                                        <input class="form-control input-sm" type="text" name="content">
                                        <button class="btn-xs btn-primary mt-btn" type="submit">Submit</button>
                                    </div>

                                </form>
                            </li>
                        }
                        </ul>
                    </li>
                }
                </ul>
            </div>
            <div class="row">
                <form class="form" role="form" action="@routes.WorkflowController.addComment(wf.getId)"
                enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="content"></textarea>
                        <button type="submit" class="btn btn-primary mt-btn" >Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
